.nav-header{
  display: inline-block; /*permite agrupar en bloque estos elementos que originalmente al ser una etiqueta nav es en linea, y a su ves ajusta el margen superior*/
  background: cyan;
  color: rgb(11, 11, 12);
  padding: 10px 10px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0px 0px 0px 10px;
  }
.nav-header:hover
{ 
  background-color: #cbd1d8;/*esto es para sombrear cuado el mouse se posicione sobre las anclas, este efecto se esta aplicando a la class=nav-header*/
}
nav{
  background-color: #222831;
  padding: 10px 10px;
  justify-content: flex-end;
  display: flex;

}
.nav-button{
  background: cyan;
  color: rgb(11, 11, 12);
  padding: 10px 10px;
  margin: 0px 10px 0px 10px;
  border: 2px solid rgb(183, 0, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: none;
}
@media (max-width:600px){
  nav{
    background;
    flex-direction: column;
  }/*antes de los 600px todo lo que este asociado a la etiqueta nav se mostrara en Bloque. El media Query actua como si fuese un ccs aparte que se ejecuta siempre y cuando el tamaño de la pantalla sea inferior a 600px*/
  .nav-header{
    margin: 10px 10px 10px 10px;
    }
  .nav-button{
    display: inline-block;
    
  }
  .desaparece{
    display: none;/*como esta dentro del media query, se ejecutara siempre que la pantalla sea inferior a 600px y la accion es no mostrar todo lo que este asociado a la clase desaparece*/
  }
}


